<h4 class="text-muted mt-5 mb-5"> What's your story you want to post today?</h4>
<div class="search-form mt-5 mb-5">
    <form method="POST">
        <div class="form-group">
            <label for="name">Your name:</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Enter your name" />
            <label for="email">Your email:</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email" /> <br>
            <label for="content">Write your post content:</label> <br>
            <textarea class="form-control text-muted" name="content"
                placeholder="Hi, please write your post content here!" id="content" cols="30" rows="10">
            </textarea>
            <small id="emailHelp" class="form-text text-muted mt-5">Please, click post button below to post your news
                story today!</small>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div>