<div class="search-form mt-5 mb-5">
    <form>
        <div class="form-group">
            <label for="search-input">Nhập từ khóa</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa tìm kiếm">
            <small id="emailHelp" class="form-text text-muted">Chào mừng bạn, Hãy gõ từ khóa của bạn nào!</small>
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>